%h2 My boards
= link_to 'New Board', new_board_path

- @boards.each_slice(4) do |bs|
  .row
    - bs.each do |b|
      .col.col-3
        = image_tag b.images.first.image_url(:thumb) unless b.images.first.nil?
        = link_to 'Show', b
        = link_to 'Edit', edit_board_path(b)
        = link_to 'Destroy', b, :method => :delete, :data => { :confirm => 'Are you sure?' }
