%h2= @board.title
%p= @board.description
= link_to 'Edit', edit_board_path(@board)
= link_to 'Back', boards_path

= form_for Image.new, url: board_images_path(@board), html: { multipart: true, class: "row upload-area center", id: "drop-area" } do |f|
  .fallback
    = f.file_field :image, multiple: true, name: "image[image]", id: "fileupload"
  
  %em
    Drop files to upload or click to choose manually

- @board.images.each_slice(4) do |is|
  .row
    - is.each do |i|
      .col.col-3
        = image_tag i.image_url(:thumb)
        = link_to "Preview", board_image_path(@board, i)
  
:javascript
  $("#drop-area").dropzone({
    paramName: "image[image]",
    maxFilesize: 2,
    thumbnailWidth: 250,
    thumbnailHeight: 150
  });