%p#notice= notice

%p
  %b Title:
  = @board.title
%p
  %b Description:
  = @board.description
%p
  %b Preview:
  = @board.preview
%p
  %b User:
  = @board.user

= link_to 'Edit', edit_board_path(@board)
\|
= link_to 'Back', boards_path
